:root {
  --color-primary: #502050;
  --color-secondary: #937b92;
  --color-accent-pink: #ee68a4;
  --color-accent-purple: #f7f2f7;
  --color-background: #fff;

  --border-radius: 10px;

  --fs-xl: 3.2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.4rem;
  --fs-300: 1.35rem;
}

@media screen and (min-width: 900px) {
  :root {
    --fs-xl: 4.2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", arial, helvetica, sans-serif;
  font-size: var(--fs-300);
  color: var(--color-secondary);
  min-height: 100vh;
  padding: 6rem 0;
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: 700;
  color: var(--color-primary);
  margin-top: 0;
}

h2 {
  font-size: var(--fs-400);
  font-weight: 700;
}

p {
  line-height: 1.8;
}

@media screen and (min-width: 900px) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    padding: 0;
  }
}

/* Sections */
.page-header {
  text-align: center;
  margin-bottom: 4rem;
}

.header__text {
  font-size: var(--fs-500);
  font-weight: 500;
}

.rating-block {
  margin-bottom: 4rem;
}

/* Rating Block */
.rating {
  background: var(--color-accent-purple);
  padding: 1.5rem 0;
  text-align: center;
  border-radius: var(--border-radius);
}

.rating__stars {
  margin-bottom: 0.8rem;
}

.icon-star + .icon-star {
  margin-left: 0.5rem;
}

.rating__title {
  color: var(--color-primary);
}

.rating + .rating {
  margin-top: 1.5rem;
}

/* Testimonial Card */
.testimonial-card {
  background: var(--color-primary);
  padding: 3.5rem 3rem;
  border-radius: var(--border-radius);
}
.media {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  margin-bottom: 2.5rem;
}

.media__img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.media__content {
  margin-top: auto;
  /* margin-bottom: auto; */
}

.media__title {
  margin-bottom: 0.8rem;
  color: var(--color-background);
}

.media__description {
  color: var(--color-accent-pink);
  line-height: 1;
}

.testimonial__quote {
  color: var(--color-accent-purple);
  quotes: '"' '"';
}

.testimonial__quote::before {
  content: open-quote;
}

.testimonial__quote::after {
  content: close-quote;
}

.testimonial-card + .testimonial-card {
  margin-top: 1.5rem;
}

/* Attribution */
.attribution {
  position: absolute;
  width: 100%;
  bottom: 1px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 500;
  color: var(--color-primary);
}

.attribution a:hover,
.attribution a:focus {
  color: var(--color-accent-pink);
}

@media screen and (min-width: 900px) {
  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .page-header {
    width: 40%;
    text-align: start;
  }

  .rating-block {
    align-self: center;
    width: 45%;
  }

  .rating {
    display: flex;
    gap: 3rem;
    padding: 2rem 3rem;
  }

  .rating:first-of-type {
    margin-right: 6rem;
  }

  .rating:nth-of-type(2) {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .rating:nth-of-type(3) {
    margin-left: 6rem;
  }
  .rating__stars {
    margin-bottom: 0;
  }

  .testimonial-block {
    display: flex;
    gap: 2.5rem;
  }

  .testimonial-card + .testimonial-card {
    margin: 0;
  }

  .testimonial-card:first-child {
    margin-bottom: 4rem;
  }

  .testimonial-card:nth-child(2) {
    margin: 2rem 0;
  }

  .testimonial-card:nth-child(3) {
    margin-top: 4rem;
  }
}
