<div class="rating container">
  <div class="rating__stars">
    <img class="icon-star" src="images/icon-star.svg" alt="Star Rating" />
    <img class="icon-star" src="images/icon-star.svg" alt="Star Rating" />
    <img class="icon-star" src="images/icon-star.svg" alt="Star Rating" />
    <img class="icon-star" src="images/icon-star.svg" alt="Star Rating" />
    <img class="icon-star" src="images/icon-star.svg" alt="Star Rating" />
  </div>
  <h2 class="rating__title">Rated 5 Stars in Reviews</h2>
</div>
