<div class="testimonial-card container">
  <header class="media">
    <img class="media__img" src="images/image-colton.jpg" alt="Colton Smith" />
    <div class="media__content">
      <h2 class="media__title">Colton Smith</h2>
      <p class="media__description">Verified Buyer</p>
    </div>
  </header>
  <p class="testimonial__quote">
    We needed the same printed design as the one we had ordered a week prior.
    Not only did they find the original order, but we also received it in time.
    Excellent!
  </p>
</div>
